/vision/ISP/rgb_gain/*.bak
/vision/ISP/rgb_gain/vivado_hls.log
/vision/ISP/rgb_gain/rgb_gain/*
/vision/L2/*
/vision/ISP/gamma_correction/gamma_correction/soluti*/.autopilot/*
/vision/ISP/gamma_correction/gamma_correction/soluti*/impl/*
/vision/ISP/gamma_correction/gamma_correction/soluti*/syn/*
/vision/ISP/gamma_correction/gamma_correction/soluti*/csim/*
/vision/ISP/gamma_correction/*.bak
/vision/ISP/gamma_correction/*.log
/vision/ISP/sat_ctrl/sat_ctrl/soluti*/.autopilot/*
/vision/ISP/sat_ctrl/sat_ctrl/soluti*/impl/*
/vision/ISP/sat_ctrl/sat_ctrl/soluti*/syn/*
/vision/ISP/sat_ctrl/sat_ctrl/soluti*/csim/*
/vision/ISP/sat_ctrl/*.bak
/vision/ISP/sat_ctrl/*.log


