vision/ISP/rgb_gain/*.bak
vision/ISP/rgb_gain/vivado_hls.log
vision/ISP/rgb_gain/rgb_gain/*
vision/L2/*
vision/ISP/gamma_correction/gamma_correction/*
vision/ISP/gamma_correction/*.log
vision/ISP/sat_ctrl/sat_ctrl/*
vision/ISP/sat_ctrl/*.log
vision/ISP/crop_resize/crop_resize/*
vision/ISP/crop_resize/*.log
vision/ISP/resize/resize/*
vision/ISP/resize/*.log
vision/ISP/mirror/mirror/*
vision/ISP/mirror/*.log
vision/ISP/rgb_sat/rgb_sat/*
vision/ISP/rgb_sat/*.log
vision/ISP/sat_ctrl/sat_ctrl/*
vision/ISP/sat_ctrl/*.log
vision/ISP/sat_ori/sat/*
vision/ISP/sat_ori/*.log